@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 text-primary">Welcome Guys!</h1>
    <br/>
    <h6>Here You can Learn Using aspnet core with razor pages & database + datatables</h6>
    <br/>
    <p>I ve prepared this project as learning project, use it as you feel free...</p>
    <p>Kindly follow <span class="text-danger">Readme</span> where step by step procedure is given to prepare similar kind of project.</p>
    <p class="text-success">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
